.letsgo {
    /* size & style */
    width: 231px;
    height: 58px;
    padding: 20px 83.5px 19px;
    border-radius: 29px;
    box-shadow: 0 20px 30px 0 rgba(249, 131, 171, 0.5);
    background-color: #fff;
    border: none;

    /* position */
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translate(-37%);


    /* font */
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

@media (max-width: 576px) {
    .letsgo {
        top: 490px;
        left: 25%;
        transform: translate(-5%);
    }
}