.definition {
    height: 591px;
    background-color: #eebece;
}

.text-definition {
    padding-top: 210px;
    margin-left: 55%;
    transform: translate(-55%);
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: -0.75px;
    text-align: right;
    color: #000000;
}

.text-definition span {
    font-weight: bold;
    color: #0b24fb;
}

.text-quote {
    margin-left: 55%;
    transform: translate(-55%);
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}

.circle {
    position: absolute;
    width: 89px;
    height: 89px;
    background: #0b24fb;
    border-radius: 100%;
    left: 20%;
}

.testimoni {
    text-shadow: 0 20px 30px rgba(249, 131, 171, 0.7);
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
}

.carousel-wrapper {
    margin-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
}

.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px #fff;
}

.rec.rec-arrow:hover {
    background: #0b24fb !important;
    color: #fff;
}

.carousel-testimoni h2 {
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.carousel-testimoni p {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.43px;
    color: #000000;
}

.pov {
    height: 400px;
    padding-top: 180px;
    background: #000000;
}

.pov h2 {
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.pov p {
    padding: 0px 350px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.64px;
    text-align: center;
    color: #fff;
}

@media (max-width: 576px) {

    .definition,
    .pov {
        width: 100vw;
    }

    .text-definition,
    .text-quote {
        margin-left: 30%;
        transform: translate(-30%);
        font-size: 16px;
        line-height: 1.5;
    }

    .circle {
        left: 10%;
    }

    .testimoni {
        padding: 45px 20px;
        text-align: left;
    }

    .carousel-wrapper {
        margin-top: -30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* hide disabled buttons */
    .rec.rec-arrow:disabled {
        visibility: hidden;
    }

    .pov {
        padding-left: 20px;
        padding-right: 20px;
        height: 400px;
    }

    .pov h2 {
        text-align: left;
    }

    .pov p {
        padding: 0;
        font-size: 16px;
        letter-spacing: -0.57px;
        text-align: left;
    }
}

@media (min-width: 576px)and (max-width:768px) {
    .subtitle-hero {
        top: 270px;
    }

    .pov {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pov h2 {
        text-align: left;
    }

    .pov p {
        padding: 0;
        font-size: 16px;
        letter-spacing: -0.57px;
        text-align: left;
    }

    .carousel-wrapper {
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
}